body {
  margin: 0;
  font-family: 'Times New Roman', Times, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
:root{
  --color-primary: white;
  --color-secondary: #2C5F52;
}
code {
  font-family: Arial, Helvetica, sans-serif;
}


